.thumbnails {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

article {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

}

article {
    height: 500px;
    overflow: hidden;
}

article img {
    transition: transform .5s ease;
}

article:hover img {
    transform: scale(1.5);

}


article img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit:cover;
}


article h3 {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

article button {
    border: none;
    background-color: transparent;
    color: black;
    margin-left: auto;
    font-size: 30px;
    position: absolute;

}



body {
    margin: 0;
    background-color: black;


}

* {
    box-sizing: border-box
}

nav {

    background-color: black;
    display: flex;
    height: 4em;
    width: 100%;
    margin: 0;
    padding: 0;

}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

li:first-child {
    margin-right: auto;

}

li a {
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

li {
    margin-right: 40px;
}


}

li a:hover {
    background-color: red;
    color: white;

}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    margin-bottom: auto;
    color: white;

}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    margin-bottom: auto;
    color: white;
}

button i {
    color: white;
    text-shadow: 0 0 3px gray, 0 0 5px white;
}

#verras {
    padding: 20px;
    background-color: white;
    font-style: normal, black;
    font-size: 30px;
    text-shadow: 0 0 3px gray, 0 0 5px white;
    box-shadow: 0 0 3px gray, 0 0 5px white;
    margin-left: 1230px;
}
#verras:hover {
    background-color: skyblue;
    color: white;

}

/* Bron: w3schools, https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_spinners&stacked=h */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: absolute;
    margin-left: 650px;
    margin-top: 200px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.hover {
    width: 600px;

}

#info {

    float: right;
    display: inline;
    width: 75%;


}

#container {
    margin-top: 80px;
}

#filmknop {
    padding: 20px;
    background-color: white;
    font-style: normal, black;
    font-size: 30px;
    text-shadow: 0 0 3px gray, 0 0 5px white;
    box-shadow: 0 0 3px gray, 0 0 5px white;
    margin-left: 1230px;


}

p{
    font-size: 26px;
    color: white;
}
